<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ged" />
                <data android:pathPattern=".*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\.GED" />
                <data android:pathPattern=".*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.GED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.ged" />
                <data android:pathPattern=".*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ged" />
                <data android:pathPattern=".*\\.GED" />
                <data android:pathPattern=".*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.GED" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.GED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.familygem.app"
                    android:path="/share.php"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.familygem.app"
                    android:pathPattern="/condivisi/.*.zip"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TreesActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".NewTreeActivity"
            android:label="@string/new_tree"
            android:parentActivityName=".TreesActivity" />
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".TreesActivity" />
        <activity
            android:name=".BackupActivity"
            android:label="@string/local_backup"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".InfoActivity"
            android:label="@string/info"
            android:parentActivityName=".TreesActivity" />
        <activity
            android:name=".MediaFoldersActivity"
            android:label="@string/media_folders" />
        <activity
            android:name=".share.SharingActivity"
            android:label="@string/share_tree"
            android:parentActivityName=".TreesActivity" />
        <activity
            android:name=".merge.MergeActivity"
            android:label="@string/merge_tree"
            android:parentActivityName=".TreesActivity" />
        <activity
            android:name=".share.CompareActivity"
            android:label="@string/tree_with_news"
            android:parentActivityName=".TreesActivity" />
        <activity
            android:name=".share.ProcessActivity"
            android:label="@string/import_news"
            android:parentActivityName=".share.CompareActivity" />
        <activity
            android:name=".share.ConfirmationActivity"
            android:label="@string/confirm_news"
            android:parentActivityName=".share.CompareActivity" />
        <activity
            android:name=".DiagramSettingsActivity"
            android:label="@string/diagram_settings" />
        <activity
            android:name=".profile.ProfileActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PersonEditorActivity" />
        <activity android:name=".detail.FamilyActivity" />
        <activity android:name=".detail.NameActivity" />
        <activity android:name=".detail.RepositoryActivity" />
        <activity android:name=".detail.RepositoryRefActivity" />
        <activity android:name=".detail.NoteActivity" />
        <activity android:name=".detail.SourceActivity" />
        <activity android:name=".detail.SourceCitationActivity" />
        <activity android:name=".detail.EventActivity" />
        <activity android:name=".detail.AddressActivity" />
        <activity android:name=".detail.SubmitterActivity" />
        <activity android:name=".detail.ExtensionActivity" />
        <activity android:name=".detail.ChangeActivity" />
        <activity
            android:name=".detail.MediaActivity"
            android:label="@string/empty_media" />
        <activity
            android:name=".FileActivity"
            android:theme="@style/AppTheme.TransparentActionBar" />
        <activity
            android:name=".CropImageActivity"
            android:label="@string/crop" />
        <activity android:name=".purchase.PurchaseActivity" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
        <receiver
            android:name=".NotifyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
</manifest>
