<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="auto">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="22"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

	<application
		android:label="@string/app_name"
		android:name=".Global"
		android:icon="@mipmap/icon"
		android:theme="@style/AppTheme"
		android:allowBackup="true"
		android:usesCleartextTraffic="true"
		android:requestLegacyExternalStorage="true"
		android:supportsRtl="true">
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:grantUriPermissions="true"
			android:exported="false">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>
		<activity
			android:name=".FacadeActivity"
			android:noHistory="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:scheme="https"
					android:host="www.familygem.app"
					android:path="/share.php" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:scheme="https"
					android:host="www.familygem.app"
					android:pathPattern="/condivisi/.*.zip" />
			</intent-filter>
		</activity>
		<activity
			android:name=".TreesActivity"
			android:launchMode="singleTask" />
		<activity
			android:name=".NewTree"
			android:label="@string/new_tree"
			android:parentActivityName=".TreesActivity" />
		<activity
			android:name=".Principal"
			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".OptionsActivity"
			android:label="@string/settings"
			android:parentActivityName=".TreesActivity"/>
		<activity
			android:name=".TombstoneActivity"
			android:label="@string/about"
			android:parentActivityName=".OptionsActivity" />
		<activity
			android:name=".TreeInfoActivity"
			android:label="@string/tree_info"
			android:parentActivityName=".TreesActivity" />
		<activity
			android:name=".MediaFoldersActivity"
			android:label="@string/media_folders" />
		<activity
			android:name=".SharingActivity"
			android:label="@string/share_tree"
			android:parentActivityName=".TreesActivity" />
		<activity
			android:name=".CompareActivity"
			android:label="@string/tree_with_news"
			android:parentActivityName=".TreesActivity" />
		<activity
			android:name=".TreeComparatorActivity"
			android:label="@string/import_news"
			android:parentActivityName=".CompareActivity" />
		<activity
			android:name=".ConfirmationActivity"
			android:label="@string/confirm_news"
			android:parentActivityName=".CompareActivity" />
		<activity
			android:name=".DiagramSettings"
			android:label="@string/diagram_settings"
			android:parentActivityName=".Principal" />
		<activity
			android:name=".IndividualPersonActivity"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".detail.FamilyActivity" />
		<activity
			android:name=".detail.NameActivity" />
		<activity
			android:name=".detail.RepositoryActivity" />
		<activity
			android:name=".detail.RepositoryRefActivity" />
		<activity
			android:name=".detail.NoteActivity" />
		<activity
			android:name=".detail.SourceActivity" />
		<activity
			android:name=".detail.SourceCitationActivity" />
		<activity
			android:name=".detail.ImageActivity" />
		<activity
			android:name=".detail.EventActivity" />
		<activity
			android:name=".detail.AddressActivity" />
		<activity
			android:name=".detail.AuthorActivity" />
		<activity
			android:name=".detail.ExtensionActivity" />
		<activity
			android:name=".detail.ChangesActivity" />
		<activity
			android:name=".BlackboardActivity"
			android:parentActivityName=".detail.ImageActivity"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity android:name=".IndividualEditorActivity" />
		<activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
		<service
			android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
			android:enabled="false"
			android:exported="false">
			<meta-data
				android:name="autoStoreLocales"
				android:value="true" />
		</service>
		<receiver android:name=".NotifyReceiver"
			android:enabled="true"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
	</application>
	<queries>
		<intent>
			<action android:name="android.media.action.IMAGE_CAPTURE"/>
		</intent>
		<intent>
			<action android:name="android.intent.action.GET_CONTENT"/>
			<data android:mimeType="*/*"/>
		</intent>
	</queries>
</manifest>
